.nav_container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  // here was green
  .nav_wrapper {
    padding: 0 48px;
    // The .home is wrapping the routers and can cause ISSUES
    //  when adapting the scroll due to the flex
    // Maybe you can add the scroll {ref} on the .home that is on the routers
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        // the font family is inside the body, here you make it slightly fatter
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

// -------------------
//        Header
// -------------------
//

header {
  height: 100px;
  .inner-header {
    //   z-index DO NOT WORK unless you define a position
    // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
    position: relative;
    z-index: 10;
    // background-color: green;
    // border: 1px solid #000;
    //
    //
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: #282828;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }

  //   -------------------
  //          Hamburger
  //   -------------------

  .hamburger-menu {
    display: none; //you can replace it with display just to see what you have
    z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    //
    //-------------
    //  .menu-layer  is the .nav.open in the old dropdown menu
    //-------------
    //
    .nav_menu-layer {
      position: relative;
      //   box-decoration-break: 1px solid green;
      background-color: red;
      height: 100%;
      overflow: hidden;
      //   we dont need this either

      .nav_wrapper {
        position: relative; //relative to the nav_container
        //

        //-------------
        //  .menu-layer  is the .nav.open in the old dropdown menu
        //-------------
        //
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;
          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;
                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;
                  &:hover {
                    color: #282828;
                  }
                }
              }
            }
          }
          //   this we also dont need
          .info {
            color: #fff;
            width: 300px;
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        // this we dont need but maybe we can fin a replacement
        .locations {
          position: absolute;
          bottom: -80px;
          color: #fff;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 64px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background: #282828;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
    }
    //
    //-------------
    //  .menu-layer  end
    //-------------
    //
  }

  //    end hamburger menu
}
